<ul id="stats">
    <li>{{ info.numOfTiles }} tiles</li>
    <li>{{ info.numOfMines }} mines</li>
    <li>{{ info.numOfFlags }} flagged tiles</li>
    <li>{{ info.numOfTiles - info.numOfMines - info.numOfClears }} left to clear</li>
</ul>

<ul id="board">
    <li 
        class="tile"
        ng-repeat="tile in tiles" 
        ng-class="{
            nth     : tile.y === 0,
            flagged : tile.isFlagged === true,
            mine    : tile.isMine === true,
            clear   : tile.isClear === true,
            zero    : tile.isClear === true && tile.adjacentMines == 0
        }"
        ng-click="checkTile($event, tile.x, tile.y)"
    >

        <span ng-if="tile.isClear != true">
        </span>

        <span 
            ng-if="
                tile.isClear != true && 
                tile.isFlagged == true"
            >
            ?
        </span>

        <span 
            ng-if="
                tile.isClear == true && 
                tile.isMine == true"
            >
            X
        </span>

        <span 
            ng-if="
                tile.isClear == true && 
                tile.isMine == false"
            >
            {{tile.adjacentMines}}
        </span>

     </li>
</ul>

<div id="dashboard">
    <div class="new-game button">new game</div>
    <div 
        class="select-tile button"
        ng-click="autoSelect(1)"
        >select one for me</div>
    <div class="instructions button">instructions</div>
</div>