<ul id="stats">
    <li>{{ info.numOfTiles }} tiles</li>
    <li>{{ info.numOfMines }} mines</li>
    <li>{{ info.numOfFlags }} flagged tiles</li>
    <li>{{ info.numOfTiles - info.numOfMines - info.numOfClears }} left to clear</li>
</ul>

<ul id="board">
    <li 
        class="tile"
        ng-repeat="tile in tiles" 
        ng-class="{
            nth     : tile.y === 0,
            flagged : tile.isFlagged === true,
            mine    : tile.isMine === true,
            clear   : tile.isClear === true,
            zero    : tile.isClear === true && tile.adjacentMines == 0
        }"
        ng-click="checkTile($event, tile.x, tile.y)"
    >

        <span ng-if="tile.isClear != true">
        </span>

        <span 
            ng-if="
                tile.isClear != true && 
                tile.isFlagged == true"
            >
            ?
        </span>

        <span 
            ng-if="
                tile.isClear == true && 
                tile.isMine == true"
            >
            X
        </span>

        <span 
            ng-if="
                tile.isClear == true && 
                tile.isMine == false"
            >
            {{tile.adjacentMines}}
        </span>

     </li>
</ul>

<div id="dashboard">
    <div 
        class="new-game button"
        ng-click="newGame(10, 10, 2)"
        >
        new game
    </div>
    <div 
        class="select-tile button"
        ng-click="autoSelect(1)"
        >
        select one for me
    </div>
    <div 
        class="instructions button"
        ng-click="showInstructions = true"
        >
        instructions
    </div>
</div>

<div 
    id="overlay"
    ng-class="{
        show    : showInstructions === true 
    }"
    ng-click="showInstructions = false "
    >

        <!-- show    : showInstructions === true || info.win === true -->


</div>

<div
    ng-if="showInstructions == true"
    id="instructions" 
    class="message"
>
    <div class="border-bottom">how to play</div>
    <div class="border-bottom">
        the game is played by revealing squares of the grid. if a square containing a mine is revealed, the player loses the game. otherwise, a digit is revealed in the square, indicating the amount of mines located in the eight adjacent tiles.
    </div>
    <div class="border-bottom">
        <span class="code">click</span> to reveal the squares of the grid
    </div>
    <div class="border-bottom">your first click will never land on a mine</div>
    <div>
        <span class="code">shift + click</span> or 
        <span class="code">alt + click</span>
        will flag a tile, helping you to remember where you think a mine is hidden
    </div>
</div>

<!-- <div
    ng-if="info.win == true"
    id="win" 
    class="message"
>
    <div class="border-bottom">win!</div>
    <div class="border-bottom">
        how about another round?
    </div>
    <div class="border-bottom">
        <span class="code">click</span> to reveal the squares of the grid
    </div>
    <div class="border-bottom">your first click will never land on a mine</div>
</div> -->