<ul id="stats">
    <li>a {{ info.numOfTiles }} tile game</li>
    <li>{{ info.numOfMines }} mines</li>
    <li>{{ info.numOfFlags }} flagged tiles</li>
    <li>{{ info.numOfTiles - info.numOfMines - info.numOfClears }} left to clear</li>
</ul>

<ul id="board">
    <li 
        class="tile"
        ng-repeat="tile in tiles" 
        ng-class="{
            nth     : tile.model.y === 0,
            flagged : tile.model.isFlagged === true,
            clear   : tile.model.isClear === true,
            mine    : tile.model.isMine === true && tile.model.isClear === true,
            zero    : tile.model.isClear === true && tile.model.adjacentMines == 0
        }"
        ng-click="checkTile($event, tile.model.x, tile.model.y)"
    >

        <span ng-if="tile.model.isClear != true">
        </span>

        <span 
            ng-if="
                tile.model.isClear != true && 
                tile.model.isFlagged == true"
            >
            ?
        </span>

        <span 
            ng-if="
                tile.model.isClear == true && 
                tile.model.isMine == true"
            >
            X
        </span>

        <span 
            ng-if="
                tile.model.isClear == true && 
                tile.model.isMine == false"
            >
            {{tile.model.adjacentMines}}
        </span>

     </li>
</ul>

<div id="dashboard">
    <div 
        class="new-game button"
        ng-click="toggleOverlay('newGame')"
        >
        new game
    </div>
    <div 
        class="select-tile button"
        ng-click="autoSelect(1)"
        >
        clear a safe tile
    </div>
    <div 
        class="instructions button"
        ng-click="toggleOverlay('instructions')"
        >
        instructions
    </div>
</div>

<div 
    id="overlay"
    ng-if="overlay.instructions == true || overlay.newGame == true || info.win == true || info.loss == true"
    ng-click="overlayReset()"
    >

</div>

<ng-include 
    src="modals.instructions"
    ng-if="overlay.instructions == true"
    class="message"
></ng-include>

<ng-include 
    src="modals.newGame"
    ng-if="info.win == true || info.loss == true || overlay.newGame == true"
    class="message"
></ng-include>